@{
    ViewData["Title"] = "Home Page";
}

@using TinyShelf.ViewModels
@model LoginViewModel
<br>
@if(!ViewData.ModelState.IsValid)
{
  @Html.ValidationSummary("Please fix the following error(s) and resubmit the form:")
  <br>
}

  @using (Html.BeginForm())
  {
    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })<br>
    @Html.TextBoxFor(m => m.UserName, new { @class = "allforms", @required = "required" })
    <br>
    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
    <br>
    @Html.PasswordFor(m => m.Password, new { @class = "allforms", @required = "required" })
    <br>
    <input type="submit" class="login-button" value="Log in" /><br><br>
  }

  <p>Need an account? </p>@Html.ActionLink("Register here", "Register", "Account", null, new { @class= "login-button"} )
<br>
<br>

