<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TinyShelf</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TinyShelf.styles.css" asp-append-version="true" />
  <script>
    function showDiv() {
      var div = document.getElementById("myDiv");
      div.style.display = "block";
    }
  </script>

</head>
<body>

<div class="container">
    <div>
        <div class="box">
            <div class="column1">
                <div class="column1-header">
                    <a href="~/" class="img-link"><img src="~/img/logo.png" class="logo"></a>
                </div>

                    <div class="fadein">
                        <a href="/Account/Index" class="img-link"><img src="~/img/user.png" class="img-link"></a>
                        <button onclick="showDiv()" class="jokebutton" >tiny joke</button>
                    </div>

                <hr />

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="column1-newcollection">
                        <a asp-controller="Collections" asp-action="Create" class="button-anon-pen">
                        <div class="newcollection-font">New Collection
                        </div>
                        </a> 
                    </div>

                }
                else
                {
                    <div class="column1-newcollection">
                        <a asp-controller="Account" class="button-anon-pen">
                        <div class="newcollection-font">New Collection
                        </div>
                        </a> 
                    </div>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="column1-newcollection">
                        <a asp-controller="Collections" asp-action="Index" class="button-anon-pen">
                        <div class="newcollection-font">Your Collections
                        </div>
                        </a> 
                    </div>

                }
                else
                {
                    <div class="column1-newcollection">
                        <a asp-controller="Account" class="button-anon-pen">
                        <div class="newcollection-font">Your Collections
                        </div>
                        </a> 
                    </div>
                }

                                @if (User.Identity.IsAuthenticated)
                {
                    <div class="column1-newcollection">
                        <a asp-controller="Items" asp-action="Create" class="button-anon-pen">
                        <div class="newcollection-font">Add Items
                        </div>
                        </a> 
                    </div>

                }
                else
                {
                    <div class="column1-newcollection">
                        <a asp-controller="Account" class="button-anon-pen">
                        <div class="newcollection-font">Your Collections
                        </div>
                        </a> 
                    </div>
                }

            </div>

            <div class="column2">
                <div class="column2-nav">
                    <div id="myDiv" class="joke" style="display:none;">What do you call a fake noodle? An impasta.</div>
                    <div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @using (Html.BeginForm("LogOff", "Account"))
                            {
                            @Html.ActionLink("Home","Index","Home", null, new { @class= "login-button"} )
                            <input type="submit" class="login-button" value="Log Out"/>
                            }
                        }
                        else
                        {
                            @Html.ActionLink("Home","Index","Home", null, new { @class= "login-button"} )
                            @Html.ActionLink("Log In","Login","Account", null, new { @class= "login-button"} )

                        }
                    </div>
                        
                    <div class="fadein-2">
                        <a href="/Account/Index"><img src="~/img/user.png" class="img-link"></a>
                    </div> 
                </div>

                <div class="column2-main"> 
                    @RenderBody()
                </div> 
            </div>
        </div>
    </div>           
</div>

<footer class="footer text-muted">
    <div class="footer-container">
        &copy; 2023 - TinyShelf - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

</body>
</html>
